.contenedor-principal-certificaciones {
    margin: 10px;
}

.contenedor-principal-certificaciones .titulo {
    border-radius: 5px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 8px;
}

.contenedor-principal-certificaciones .contenedor-certificaciones {
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    width: 100%;
}

.contenedor-principal-certificaciones .contenedor-certificaciones .certificacion {
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 320px;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.contenedor-certificaciones .certificacion h3 {
    align-items: center;
    display: flex;
    font-size: 20px;
    height: 24px;
    justify-content: center;
    margin: 0;
}

.contenedor-certificaciones .certificacion p {
    align-items: center;
    display: flex;
    font-size: 16px;
    height: 80px;
    justify-content: center;
    margin: 0;
    max-width: 90%;
}

.contenedor-certificaciones .certificacion ul {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 40px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contenedor-certificaciones .certificacion ul li {
    background-color: #fcfdff;
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 8px;
}

.contenedor-certificaciones .certificacion a {
    align-items: center;
    background-color: #fcfdff;
    border-radius: 4px;
    display: flex;
    color: #000;
    gap: 6px;
    height: 40px;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 120px;
}

.contenedor-certificaciones .certificacion a:hover {
    background-color: #000;
    color: #fcfdff;
}