.contenedor-principal-habilidades {
    margin: 10px;
}

.contenedor-principal-habilidades .titulo {
    border-radius: 5px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 8px;
}

.contenedor-principal-habilidades .contenedor-habilidades {
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    width: 100%;
}

.contenedor-principal-habilidades .contenedor-habilidades .habilidad {
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 320px;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.contenedor-principal-habilidades .contenedor-habilidades .habilidad h3 {
    align-items: center;
    display: flex;
    font-size: 22px;
    height: 24px;
    justify-content: center;
    margin-bottom: 20px;
}

.contenedor-principal-habilidades .contenedor-habilidades .habilidad p {
    font-size: 18px;
}

.contenedor-principal-habilidades .contenedor-habilidades .habilidad img {
    width: 100px;
}