* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    font-family: "Bricolage Grotesque", sans-serif;
    height: 100%;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

header .contenedor-cabecera {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

header .contenedor-cabecera .menu {
    display: none;
}

header .contenedor-cabecera .nombre {
    font-size: 2rem;
    font-weight: 600;
}

header .contenedor-cabecera .lista-enlaces {
    display: flex;
    gap: 20px;
    list-style: none;
}

header .contenedor-cabecera .lista-enlaces .enlace {
    background-color: #aadaff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 16px;
    min-width: 150px;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

header .contenedor-cabecera .lista-enlaces .enlace:hover {
    background-color: #91cfff;
    transform: scale(1.04);
}

header .contenedor-cabecera .lista-enlaces .enlace a {
    color: #000;
    text-decoration: none;
}

header .contenedor-cabecera .lista-enlaces .enlace a.activo {
    text-decoration: underline;
}

main {
    flex: 1;
    padding-top: 80px;
}

main .contenedor-principal {
    margin: 10px;
}

main .contenedor-principal .titulo {
    border-radius: 5px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 8px;
}

main .contenedor-principal .contenedor-tarjetas {
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    width: 100%;
}

main .contenedor-principal .contenedor-tarjetas .tarjeta {
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 320px;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

main .contenedor-principal .contenedor-tarjetas .tarjeta h3 {
    align-items: center;
    display: flex;
    font-size: 20px;
    height: 24px;
    justify-content: center;
    margin: 0;
}

main .contenedor-principal .contenedor-tarjetas .tarjeta p {
    align-items: center;
    display: flex;
    font-size: 16px;
    height: 80px;
    justify-content: center;
    margin: 0;
    max-width: 90%;
}

main .contenedor-principal .contenedor-tarjetas .tarjeta figure img {
    width: 100px;
}

main .contenedor-principal .contenedor-tarjetas .tarjeta ul {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 40px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

main .contenedor-principal .contenedor-tarjetas .tarjeta ul li {
    background-color: #fcfdff;
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 8px;
}

main .contenedor-principal .contenedor-tarjetas .tarjeta a {
    align-items: center;
    background-color: #fcfdff;
    border-radius: 4px;
    display: flex;
    color: #000;
    gap: 6px;
    height: 40px;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 120px;
}

main .contenedor-principal .contenedor-tarjetas .tarjeta a:hover {
    background-color: #000;
    color: #fcfdff;
}

main .contenedor-principal .titulo .botones-proyectos {
    display: flex;
    gap: 10px;
}

main .contenedor-principal .titulo .botones-proyectos button {
    border: none;
    border-radius: 4px;
    color: #292929;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    transition: transform 0.3s ease;
    user-select: none;
    width: 100px;
}

main .contenedor-principal .titulo .botones-proyectos .python {
    background-color: #FFEB99;
}

main .contenedor-principal .titulo .botones-proyectos .html-css-js {
    background-color: #FF9A6E;
}

main .contenedor-principal .titulo .botones-proyectos button.activo {
    transform: scale(1.15);
    z-index: -1;
}

main .contenedor-principal .titulo .botones-proyectos button i {
    font-size: 14px;
    margin: 3px;
}

footer {
    align-items: center;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #000;
    display: flex;
    flex-shrink: 0;
    height: 60px;
    justify-content: center;
    margin: 0 30px;
}

footer p {
    font-weight: 600;
    padding: 10px;
}

@media (max-width: 768px) {
    header .contenedor-cabecera {
        padding: 15px 20px;
    }

    header .contenedor-cabecera .nombre-menu {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    header .contenedor-cabecera .menu {
        cursor: pointer;
        display: block;
        font-size: 30px;
    }

    header .contenedor-cabecera .lista-enlaces {
        align-items: center;
        background-color: #F1F1F1;
        display: none;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        padding: 20px;
        position: absolute;
        top: 70px;
        transform: translateX(-50%);
        width: 100%;
    }

    header .contenedor-cabecera .lista-enlaces.mostrar {
        display: flex;
    }

    header .contenedor-cabecera .lista-enlaces .enlace {
        font-size: 1rem;
        padding: 10px 16px;
        width: 300px;
    }

}

@media (max-width: 480px) {
    footer p {
        font-size: 12px;
    }
}